#notice-title-bar{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--light-gray);
    padding: 0.5em 1em;
    position: fixed;
    background-color: var(--white);
    box-sizing: border-box;
    width: max(50%, 40 * 16px); /* 这个要跟 sidebar 里面 main 的宽度保持一致，main 里面 1em 是 16px */
    height: 5em;
    user-select: none;
    z-index: 1;
}
#notice-select-a{
    text-decoration: none;
}
#notice-select-a:visited{
    color: var(--black);
}
.notice-select{
    margin-top: 0.5em;
    padding-top: 0.5em;
    position: relative;
    display: inline-block;
    width: 49%;
    transition: background-color 0.2s;
    text-align: center;
    box-sizing: border-box;
}
.notice-label{
    margin-bottom: 0.24em;
    transition: color 0.2s;
}
.notice-bar{
    margin: 0 auto;
    width: 3em;
    height: 0.2em;
    transition: background-color 0.2s;
    background-color: transparent;
}
.notice-select:hover{
    background-color: var(--primary-hover-bg);
}
.notice-select:hover .notice-label{
    color: var(--primary-theme);
}
.notice-select-selected .notice-label{
    color: var(--primary-theme);
}
.notice-select-selected .notice-bar{
    background-color: var(--primary-theme);
}


/* .tweet-comment>i,.tweet-like>i{
    padding: 0.2em;
    border-radius: 999em;
} */

.tweet-comment:hover, .tweet-like:hover {
    background-color: var(--primary-hover-bg);
    border-radius: 10px;
    /* padding:8px; */
}




/*点赞框*/
.comment-block{
    /* padding: 1em; */
    padding: 1em 0;
    display: flex;
    font-size: 15px;
    border-bottom: 1px solid var(--light-gray);
    transition: background-color 0.2s;
    /* width:100%; */
}
.comment-content{
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    display:flex;
    margin-right:12px;
    /* width: 540px;   */
    flex-basis: 100%;
}
.comment-user-detail{
    padding:10px;
}

.comment-user-img{
    margin-left:1em;
}



.tweet-detail{
    padding:10px;
    /* margin-right:10px; */
    flex-basis: 100%;
}

.tweet-user-img,.comment-user-img, .comment-user-img {
    width: 50px;
    height: 50px;
    border-radius: 999em;
    margin-right: 12px;
}

.tweet-content-img{  /*原博的图片*/
    width: 120px;
    height: 120px;
    border-radius: 10px;

    margin-right: 12px;
}

.tweet-content{
    /* width:430px; */
}
.tweet-word,#comment-info{
    width: 100%;
    flex:1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /*行数*/
    -webkit-box-orient: vertical;
}
#comment-info{
    -webkit-line-clamp: 2; /*行数*/
}
/* .tweet-like.tweet-liked {
    color: var(--red);
} */

/*字体*/
#tweet-user-id, #comment-user-id {
    color: var(--gray);
}

#tweet-dot, #comment-dot {
    position: relative;
    top: -0.25em;
    color: var(--gray);
}

#tweet-date, #comment-date {
    font-size: 15px;
    color: var(--gray);
}

#tweet-user-name, #comment-user-name {
    font-weight: bold;
}
