#return {
    font-size: 24px;
    color: var(--primary-theme);
    padding: 0.35em 0.4em;
    border-radius: 999em;
    transition: background-color 0.2s;
    margin-right: 1em;
}

#return:hover {
    background-color: var(--primary-hover-bg);
}

.interval {
    box-sizing: border-box;
    height: calc(2.5 * 24px); /* 2.5 * 24 是 title-bar 的高度 */
    background-color: var(--gray-bg);
    border-bottom: 1px solid var(--light-gray);
}

.tweet-detail-block {
    padding: 1em;
    font-size: 15px;
    border-bottom: 1px solid var(--light-gray);
}

.tweet-detail-user-row {
    display: flex;
}

.tweet-detail-user-img {
    width: 50px;
    height: 50px;
    border-radius: 999em;
    margin-right: 12px;
    border: 1px solid var(--light-gray);
}

.tweet-detail-user-name {
    font-weight: bold;
}

.tweet-detail-user-id {
    color: var(--gray);
}

.tweet-detail-dot {
    position: relative;
    top: -0.25em;
    color: var(--gray);
}

.tweet-detail-date {
    font-size: 15px;
    color: var(--gray);
}

.tweet-detail-content {
    padding: 0.5em 0;
    font-size: 20px;
}

.tweet-detail-content-img {
    margin-top: 1em;
    width: 96%;
    height: max(40vh, 25em);
    border-radius: 12px;
    border: solid 1px var(--light-gray);
    overflow:hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tweet-detail-interact-row {
    margin-top: 0.5em;
    color: var(--gray);
    position: relative;
    margin-left: -0.5em;
    font-size: 18px;
}

.tweet-detail-interact-row>span {
    display: inline-block;
    width: 7em;
    transition: color 0.2s;
    user-select: none;
}

.tweet-detail-interact-row>span>i {
    font-size: 20px;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 999em;
    transition: background-color 0.2s;
}

.tweet-detail-comment:hover {
    color: var(--primary-theme);
}

.tweet-detail-comment:hover>i {
    background-color: var(--primary-hover-bg);
}

.tweet-detail-like:hover {
    color: var(--red);
}

.tweet-detail-like:hover>i {
    background-color: var(--red-hover-bg);
}

.tweet-detail-like.tweet-detail-liked {
    color: var(--red);
}

#tweet-comment-box {
    position: relative;
    margin-top: 1em;
    width: 100%;
    display: none;
}

#tweet-comment-textarea {
    box-sizing: border-box;
    width: 80%;
    height: 8em;
}

#tweet-comment-len {
    font-size: 16px;
    position: absolute;
    right: 2.5em;
    bottom: 5em;
    user-select: none;
    color: var(--red);
}

#tweet-send-comment-button {
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 2.5em;
    width: 18%;
}

#cancel-dots {
    position: absolute;
    display: inline-block;
    font-size: 24px;
    left: 92%;
    user-select: none;
    padding: 0em 0.6em 0.45em 0.6em;
    border-radius: 999em;
    transition: background-color 0.2s;
}
#cancel-dots:hover{
    background-color: var(--primary-hover-bg);
}

#cancel-menu {
    list-style-type:none;
    position: absolute;
    left: 79%;
    top: -4em;
    width: 20%;
    padding: 1em;
    box-sizing: border-box;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 0px 12px var(--light-gray);
    background-color: var(--white);
    transition: background-color 0.2s;
    user-select: none;
}

#cancel-menu:hover {
    background-color: var(--gray-hover-bg);
}

#tweet-comment-errmsg{
    padding-left:1em;
    color: var(--gray);
    font-size: 14px;
    user-select: none;
}