#follow-title-bar{
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--light-gray);
    padding: 0.5em 1em;
    position: fixed;
    background-color: var(--white);
    box-sizing: border-box;
    width: max(50%, 40 * 16px); /* 这个要跟 sidebar 里面 main 的宽度保持一致，main 里面 1em 是 16px */
    height: 5em;
    user-select: none;
    z-index: 1;
}
#return {
    position: relative;
    font-size: 24px;
    color: var(--primary-theme);
    padding: 0.35em 0.4em;
    border-radius: 999em;
    transition: background-color 0.2s;
    margin-right: 1em;
}
#return:hover {
    background-color: var(--primary-hover-bg);
}



.follow-select{
    margin-top: 0.5em;
    padding-top: 0.5em;
    position: relative;
    display: inline-block;
    width: 49%;
    transition: background-color 0.2s;
    text-align: center;
    box-sizing: border-box;
}
.follow-label{
    margin-bottom: 0.24em;
    transition: color 0.2s;
}
.follow-bar{
    margin: 0 auto;
    width: 3em;
    height: 0.2em;
    transition: background-color 0.2s;
    background-color: transparent;
}
.follow-select:hover{
    background-color: var(--primary-hover-bg);
}
.follow-select:hover .follow-label{
    color: var(--primary-theme);
}
.follow-select-selected .follow-label{
    color: var(--primary-theme);
}
.follow-select-selected .follow-bar{
    background-color: var(--primary-theme);
}
#following-bar{
    left: 20%;
}
#followed-bar{
    left: 70%;
}