#title-bar {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--light-gray);
    padding: 0.5em 1em;
    position: fixed;
    background-color: var(--white);
    box-sizing: border-box;
    width: max(50%, 40 * 16px); /* 这个要跟 sidebar 里面 main 的宽度保持一致，main 里面 1em 是 16px */
    height: 2.5em;
    user-select: none;
    z-index: 1;
}

.interval {
    box-sizing: border-box;
    height: calc(2.5 * 24px); /* 2.5 * 24 是 title-bar 的高度 */
    background-color: var(--gray-bg);
    border-bottom: 1px solid var(--light-gray);
}

.tweet-block {
    padding: 1em;
    display: flex;
    font-size: 15px;
    border-bottom: 1px solid var(--light-gray);
    transition: background-color 0.2s;
}

.tweet-block:hover {
    background-color: var(--gray-hover-bg);
}

.tweet-user-img {
    width: 50px;
    height: 50px;
    border-radius: 999em;
    margin-right: 12px;
    border: 1px solid var(--light-gray);
}

.tweet-user-name {
    font-weight: bold;
}

.tweet-user-id {
    color: var(--gray);
}

.tweet-dot {
    position: relative;
    top: -0.25em;
    color: var(--gray);
}

.tweet-date {
    font-size: 15px;
    color: var(--gray);
}

.tweet-content {
    font-size: 15px;
}

.tweet-content-img {
    margin-top: 1em;
    width: 96%;
    height: max(40vh, 25em);
    border-radius: 12px;
    border: solid 1px var(--light-gray);
    overflow:hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tweet-interact-row {
    margin-top: 0.5em;
    color: var(--gray);
    position: relative;
    margin-left: -0.5em;
}

.tweet-interact-row>span {
    display: inline-block;
    width: 7em;
    transition: color 0.2s;
}

.tweet-interact-row>span>i {
    font-size: 16px;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 999em;
    transition: background-color 0.2s;
}

.tweet-comment:hover {
    color: var(--primary-theme);
}

.tweet-comment:hover>i {
    background-color: var(--primary-hover-bg);
}

.tweet-like:hover {
    color: var(--red);
}

.tweet-like:hover>i {
    background-color: var(--red-hover-bg);
}

.tweet-like.tweet-liked {
    color: var(--red);
}

#loading {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--gray-bg);
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid var(--light-gray);
    color: var(--gray);
    user-select: none;
}

#loading>span>i {
    font-size: 18px;
    margin-right: 1em;
}