/*
* Noto Sans SC (Chinese Simplified) https://fonts.google.com/specimen/Noto+Sans+SC
 */

@font-face {
     font-family: 'Noto Sans SC';
     font-style: normal;
     font-weight: 400;
     src: url(./notosanssc/NotoSansSC-Regular.otf) format('opentype');
}

@font-face {
     font-family: 'Noto Sans SC';
     font-style: normal;
     font-weight: 700;
     src: url(./notosanssc/NotoSansSC-Bold.otf) format('opentype');
}
