.popup-shadow {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: var(--gray);
    opacity: 0.5;
    z-index: 1;
}

.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: max(40%, 32em);
    height: min(80%, 40em);
    min-height: 30em;
    background-color: var(--white);
    border-radius: 16px;
    z-index: 9;
    display: none;
}

.popup-title-bar {
    border-bottom: 1px solid var(--light-gray);
    padding: 0.5em;
    position: relative;
    user-select: none;
}

.popup-close {
    font-size: 26px;
    color: var(--primary-theme);
    padding: 0.35em 0.5em;
    border-radius: 999em;
    transition: background-color 0.2s;
    margin-right: 1em;
}

.popup-close:hover {
    background-color: var(--primary-hover-bg);
}

.popup-title {
    font-size: 24px;
    font-weight: bold;
}

.popup-top-button {
    font-size: 16px;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}