#return {
    font-size: 24px;
    color: var(--primary-theme);
    padding: 0.35em 0.4em;
    border-radius: 999em;
    transition: background-color 0.2s;
    margin-right: 1em;
    display: none;
}
#return:hover {
    background-color: var(--primary-hover-bg);
}
#banner{
    height:12em;
    background-position: center;
    background-size: cover;
    margin-bottom: 4em;
}    
#avatar{
    position: absolute;
    display: inline-block;
    top: 11.5em;
    left: 1em;
    width: 7.5em;
    height: 7.5em;
    background-position: center;
    background-size: cover;
    border-radius: 4.5em;
    border: 6px solid var(--white);
}
#editBtn, #followBtn, #unfollowBtn{
    display: block;
    float: right;
    transform: translateX(-0.5em) translateY(15em);
    width: 9em;
    height: 3em;
    border-radius: 3em;
    display: none;
    transition: background-color 0.2s;
}
#info{
    padding:0 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--light-gray);
}
#introduction{
    margin-top: 1em;
    font-size: 15px;
}
#followed-href, #following-href, #followed-href:link, #following-href:link, #followed-href:visited, #following-href:visited, #followed-href:hover, #following-href:hover, #followed-href:active, #following-href:active{
    color: var(--black);
    text-decoration: none;
}
#followed-href{
    margin-left: 1em;
}
#following, #followed{
    font-weight: bold;
}
.userName{
    font-weight: bold;
    font-size: 24px;
}
.gray{
    color: var(--gray);
    font-size: 15px;
}


/* 个人资料编辑窗口 */
#edit-pic{
    width: 100%;
    height: 38%;
}
#edit-banner{
    position: absolute;
    width: 100%;
    height: 25%;
    background-position: center;
    background-size: cover;
}   
#edit-banner-hover{
    position: absolute;
    width: 100%;
    height: 25%;
}     
#edit-banner-hover i {
    position: absolute;
    left: 49%;
    top: 45%;
    font-size: 14;
    color: var(--white);
} 
#edit-banner-input{
    opacity:0;
    cursor:pointer;
}
#edit-banner-label:hover #edit-banner-hover{
    background-color: var(--black);
    opacity: 0.3;
}   

#edit-avatar{
    position: absolute;
    top: 25%;
    left: 3%;
    width: 7em;
    height: 7em;
    background-position: center;
    background-size: cover;
    border-radius: 8em;
    border: 4px solid var(--white);
}
#edit-avatar-hover{
    position: absolute;
    top: 25%;
    left: 3%;
    width: 7em;
    height: 7em;
    border-radius: 8em;
    border: 4px solid transparent;
}   
#edit-avatar-hover i {
    position: absolute;
    left: 43%;
    top: 43%;
    z-index: 6;
    font-size: 14;
    color: var(--white);
}   

#edit-avatar-input{
    opacity:0;
    cursor:pointer;
}
#edit-avatar-label:hover #edit-avatar-hover{
    background-color: var(--black);
    background-clip: content-box;
    opacity: 0.3;
} 

#edit-input{
    position: absolute;
    width: 100%;
    height: 50%;
    left: 50%;
    transform: translateX(-43%);
}
#edit-name{
    width: 80%;
    height: 1em;
}

#edit-introduction{
    width: 80%;
    height: 7em;
}
#edit-name:focus, #edit-introduction:focus{
    border: 2px solid var(--primary-theme);
    outline: none;
}
#edit-error{
    text-align: center;
}
#edit-errormsg{
    color: var(--gray);
    font-size: 14px;
}