#sidebar {
    position: fixed;
    top: 0;
    left: max(14%, 11.2em);
    width: max(16%, 12.8em);
    height: max(100vh, 35em);
    box-sizing: border-box;
    padding: 8px;
    border-right: solid 1px var(--light-gray);
    user-select: none;
}

#sidebar>* {
    margin-bottom: 1em;
}

#logo {
    color: var(--primary-theme);
    font-size: 28px;
}

#nav {
    font-size: 24px;
    font-weight: bold;
    list-style-type:none;
}

#nav>li {
    margin-top: 0.5em;
    margin-left: -1em;
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 999em;
    transition: background-color 0.2s;
}

#nav>li:hover {
    background-color: var(--primary-hover-bg);
}

#nav>li>a {
    color: var(--black);
    text-decoration: none;
}

#nav>.nav-righthere>a {
    color: var(--primary-theme);
    text-decoration: none;
}

#nav .nav-icon {
    font-size: 28px;
    margin-right: 0.5em;
}

#send-blog>button {
    font-size: 20px;
    width: 90%;
    margin-left: -1em;
    box-shadow: 0px 4px 12px var(--light-gray);
}

#side-user {
    width: 90%;
    display: flex;
    position: absolute;
    bottom: 0.5em;
    left: -1em;
    padding: 0.8em;
    border-radius: 999em;
    transition: background-color 0.2s, opacity 0.2s;
}

#side-user-img {
    width: 40px;
    height: 40px;
    border-radius: 999em;
    border: solid 1px var(--light-gray);
    margin-right: 12px;
}

#side-user>div {
    line-height: 1.2em;
}

#side-user-name {
    font-size: 15px;
    font-weight: bold;
}

#side-user-id {
    font-size: 15px;
    color: var(--gray); 
    margin-top: -1em;
}

#side-user:hover {
    background-color: var(--primary-hover-bg);
}

#side-user-dots {
    font-size: 24px;
    position: absolute;
    top: 1em;
    transform: translateY(-50%);
    right: 0.5em;
}

#main {
    position: absolute;
    top: 0;
    left: max(30%, 24em);
    width: max(50%, 40em);
    min-height: 100%;
    border-right: 1px solid var(--light-gray);
}